@use './styles/fonts' as *;

* {
  box-sizing: border-box;
  font-family: minecraft;
}

html,
#root,
.App,
body {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #323232;
  padding-top: 3rem;
}